:root {
  --color-marca: #91c8ff;
  --color-logo: #592D24;
  --color-fondo: #ede8d0;
  --espacio: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  background: linear-gradient(80deg,#b8d1ff,#F8D7DA );
  color: var(--color-logo);
  width: 100%;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-marca);
    color: var(--color-logo);
    font-size: 20px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.logo {
  font-weight: bold;
  font-size: 3rem;
}

.secciones {
  display: flex;
  gap: 16px;
}

.secciones ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  gap: 20px
}

.secciones a {
  font-weight: 500;
  text-decoration: none;
  color: var(--color-logo);
  text-shadow: 2px 2px 10px var(--color-logo);
  
}

.secciones a:hover{
  transition: all 1s ease;
  transform: scale(1.1);
  font-size: 1.3em;
  text-shadow: 2px 2px 10px rebeccapurple;
  
}


.hero {
    width: 100%;
    height: 450px;

    background-color:var(--color-marca);
    background-image:url(./foto/Joolz-local.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    color: #fff;
    
    text-align: center;
    text-shadow: 5px 5px 10px var(--color-logo);
    font-size: 40px;

}
.titulo-seccion {
  grid-column: 1 / -1;
  width: 100%;
  color: var(--color-logo);
  text-shadow: 2px 2px 10px white;
  margin-bottom: 20px;
  text-align: center;
  
}

.contenedor{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: stretch;
  text-align: center;

  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
  padding: 24px;

  box-sizing: border-box;
}



.producto {
    display: flex;
    flex-direction: column;     
    padding: 16px;
    width: 250px;
    font-size: 80%;
    justify-content: space-between;

    
    background-color: #ffffff;
    border: 3px solid var(--color-marca);
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
    
}

.producto.destacado{
  border-color: rgb(248, 111, 255);
}


.producto:hover{
  transition: all 1s ease;
  transform: scale(1.1);
  border-color: var(--color-logo);
  box-shadow: 2px 2px 10px rebeccapurple;
}

.etiqueta-destacado{
  position: absolute;
  background-color: rgb(248, 111, 255);
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
}

.etiqueta-nuevo{
  position: absolute;
  background-color: var(--color-logo);
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  
}

.heroprod {
  width: 100%;
  height: 450px;
  background-image: url("./foto/Joolz_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;

  font-size: 40px;
}

.bannerprod h1{
  color: white;
  text-align: center;
  text-shadow: 5px 5px 10px var(--color-logo);
 
}


.fotomini{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    
}

h1{
    color:var(--color-logo);
    text-shadow: 2px 2px 10px white;
}
h2{
    color: black;
}
h3{
    color: rgb(15, 178, 0);
}

.aboutUs{
    
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
    padding: 10px;
    justify-content: center;

    text-wrap: wrap;
    text-align: center;
    color: var(--color-logo);
    background-color: var(--color-fondo);
    border-radius: 10px;
    border: 5px solid var(--color-marca);
    box-shadow: 2px 2px 10px black;
    
}

.aboutUs:hover {
  transition: all 1s ease;
  transform: scale(1.1);
  border-color: var(--color-logo);
}

.redes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto;

  width: 90%;
  max-width: 800px;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;


  border: 5px solid var(--color-marca);
  border-radius: 10px;
  background-color: var(--color-fondo);
  box-shadow: 2px 2px 10px black;

}

.redes ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.redes a{
  padding: 5px;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--color-fondo);
  border: 5px solid var(--color-marca);
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;

}

.redes a:hover {
  border-color: var(--color-logo);
}

.redes:hover {
  transition: all 1s ease;
  transform: scale(1.1);
  border-color: var(--color-logo);
}

.contacto{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 100px auto;
  

  color:var(--color-logo);
  background-color: #fff; 
  border: 5px solid var(--color-marca);
  border-radius: 10px;
  background-color: var(--color-fondo);
  box-shadow: 2px 2px 10px black;

}

.contacto:hover {
  transition: all 1s ease;
  transform: scale(1.1);
  border-color: var(--color-logo);
}

button{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid var(--color-marca);
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: var(--color-fondo);
  box-shadow: 2px 2px 10px black; 
}

button:hover {
  transition: all 1s ease;
  transform: scale(1.2);
  border-color: var(--color-logo);
  box-shadow: 1px 1px 10px rebeccapurple inset;
  

}


#mail {
  width: 80%;
  font-size: 1.3rem;
}

#mail:hover{
  text-decoration-color: aqua; 
}

#campotxt{
  width: 80%;
  height: 40px;
  padding: 8px;
  font-size: 1.3rem;
  vertical-align: top;
}



.pie {
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--color-marca);
    color: var(--color-logo);
    bottom: 0;
}

.DataFoot {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    color: var(--color-logo);
    text-shadow: 1px 1px 10px #ffffff;
    padding: 10px;
    font-size: 1.5rem;
}


@media(width <= 800px) {
  body {
    position: relative;
    background-color: rgb(40, 40, 40);
  }
  .barra{
    flex-direction: column;
    gap: 12px;
    padding: 10px;
  }


  .secciones{
    flex-direction: column;
  }
  .secciones ul {
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }


  .contenedor{
    grid-template-columns: 1fr;
    width: 95%;
    padding: 10px;
    gap: 15px;
    justify-items: center
    
  }

  .redes ul{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    
  }

  html, body {
    overflow-x: hidden;
  }
  
}

